*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app{
  padding: 50px;
  height: 100vh;
  background-image: url('./assets/marco-bicca-H3p4BB60Noo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

